/* Стилизация плейсхолдера в футере */
.footer-block-call-to-action::placeholder {
  color: rgba(255, 255, 255, 0.6);
  padding-top: 15px;
  padding-bottom: 15px;
}
/* кнопка Подписаться в футере */
.button-send {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Ховер на кнопку Подписаться */
.button-send:hover,
.button-send:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: ubic-bezier(0.4, 0, 0.2, 1);
}

/* значек самолетика в кнопке Подписаться */
.button-send::after {
  display: block;
  content: "";
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url("../image/icon/send.svg");
}
/* ФОРМА НА СТРАНИЦЕ INDEX */
/* стилизация плейсхолдера в модал меседж */
.modal-message::placeholder {
  padding: 12px 16px;
}

/* Стилизация соглашения на рассылку */
.modal-form-optional-label {
  margin-bottom: 30px;
}

/*Стилизация соглашения на рассылку */
.modal-form-option-span {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.modal-form-option-span > a {
  color: $accent-color;
}
/* Стилизация кнопки на форме */
.modal-form-btn {
  transform: translateX(60%);
}
